* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* #region Header*/

.nav {
  display: flex;
  justify-content: center;
  height: 5vw;
  background-color: rgb(0, 191, 255);
}

.nav__add-book {
  
}

/* #endregion Header*/

/* #region Book-list */

.book-list {
  list-style: none;
}

.book-list__card {
  width: 25%;
  margin: 10px auto;
  border: solid black 3px;
}

.card__image {
  height: 160px;
  width: 120px;
}

.card__title {

}

.card__description {

}



/* #endregion Book-list */

/* #region Form */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal--visible {
  display: flex;
}

.modal__content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.modal__title {
  margin-top: 0;
}

.modal__required-fields {
  
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form-field {
  margin-bottom: 10px;
}

.modal__label {
  font-weight: bold;
}

.modal__input {
  padding: 5px;
}

.modal__checkbox {
  margin-left: 5px;
}

.modal__buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.modal__submit-button {
  margin-left: 5px;
}

.modal__cancel-button {
  background-color: #ccc;
}

/* #endregion Form */